.outerdiv{
    background-color: darkorange;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 40px;
}
.innerouterdiv{
    background-color: crimson;
    margin-right: 50px;
    margin-top: 50px;

}
.innerdiv{
    background-color: cyan;
    margin-bottom: 50px;
    margin-top: 50px;

}